body {
    background-image: url("https://www.photohdx.com/images/2016/03/dramatic-grunge-painted-wall-background.jpg");
    background-size:cover;
    
}

#heading{
    font-family: 'Frijole', cursive;
    font-size:72px;
    color:white;
}
p, #pointsLabel{
    font-family: 'Anton', sans-serif;
    font-size:24px;
    color:white;
}

#counter{
    font-family: 'Anton', sans-serif;
    font-size:24px;
    text-align: center;
}

#VS{
    font-family: 'Frijole', cursive;
    font-size:48px;
}
button{
    font-family: 'Frijole', cursive;
}
#spacer{
    height:50px;
}

#counter{
    width:20px;
}

@media(max-width: 768px) {
    #heading {
        font-size: 100px;
    }
}